body{
  background-color:#0E0B16;
  display: inline;
  width:80%;
}

label{ 
  display: block;
  text-align: center;
  font-size: 1.3em;
  width: 90%;
  margin:auto;
  color:#4717F6;
}

input{ 
  box-sizing: border-box;
  width: 90%;
  padding: 12px 12px;
}

#submit{
  font-size:10pt;
  display:block;
  margin:auto;
}

#in {
  border: thick solid #A239CA;
  padding: 20px;
  margin: 10px;
  font-size: 12pt;
}

@media screen and (min-width: 650px) {
  #meat {
  text-align: center;
  margin: 3% auto 0 auto;
  width: 65%;
  color:#4717F6;
  font-size: 25pt;
  }
  .fontsize{
    font-size: 1.2em;
  }
  input {
    width: 80%;
  }
  body {
    width: 80%;
    margin: auto;
  }
  #submit {
    width: 100%;
    display:inline-block;
    margin: auto;
  }
}

@media screen and (min-width: 700px) {
  #meat {
  width: 75%;
  }
  
  #submit {
    margin:15pt; 
  }
  
  
}
  
  
  
  
  
  
  
  
  
