body{
  background-color:#0E0B16;
  display: inline;
  width:80%;
}
p1{
  font-size: 12pt;
}
#title{
  color:#A239CA;
}

label{ 
  display: block;
  text-align: center;
  font-size: 1.3em;
  width: 90%;
  margin:auto;
  color:#4717F6;
}

input{ 
  box-sizing: border-box;
  width: 90%;
  padding: 12px 12px;
}

#sub{
  font-size:10pt;
  display:block;
  margin:auto;
}

#in {
  border: thick solid #A239CA;
  padding: 20px;
  margin: 10px;
  font-size: 12pt;
}

@media screen and (min-width: 650px) {
  #meat {
  text-align: center;
  margin: 3% auto 0 auto;
  width: 65%;
  color:#4717F6;
  font-size: 25pt;
  }
  .fontsize{
    font-size: 1.2em;
  }
  input {
    width: 80%;
  }
  body {
    width: 80%;
    margin: auto;
  }
  #sub {
    width: 100%;
    display:inline-block;
    margin: auto;
  }
}

@media screen and (min-width: 700px) {
  #meat {
  width: 75%;
  }
  
  #sub {
    margin:15pt; 
  }
  
  
}
  
  
  
  
.popup {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}


.popup-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
  
  
  
  
  
