body{
  background-color:#0E0B16;
  display: inline;
  width:80%;
}
p1{
  font-size: 12pt;
}
#title{
  color:#A239CA;
}

label{ 
  display: block;
  text-align: center;
  font-size: 1.3em;
  width: 90%;
  margin:auto;
  color:#4717F6;
}

input{ 
  box-sizing: border-box;
  width: 90%;
  padding: 12px 12px;
}

#submit{
  font-size:10pt;
  display:block;
  margin:auto;
}

#in {
  border: thick solid #A239CA;
  padding: 20px;
  margin: 10px;
  font-size: 12pt;
}

@media screen and (min-width: 650px) {
  #meat {
  text-align: center;
  margin: 3% auto 0 auto;
  width: 65%;
  color:#4717F6;
  font-size: 25pt;
  }
  .fontsize{
    font-size: 1.2em;
  }
  input {
    width: 80%;
  }
  body {
    width: 80%;
    margin: auto;
  }
  #submit {
    width: 100%;
    display:inline-block;
    margin: auto;
  }
}

@media screen and (min-width: 700px) {
  #meat {
  width: 75%;
  }
  
  #submit {
    margin:15pt; 
  }
  
  
}
  
  
  
  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
  
  
  
  
  
